<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension
      point="de.toem.toolkits.general.serializer"> 
      
      <serializer
            class="de.toem.impulse.extension.log.pattern.PatternLogReader">
      </serializer> 
          
      <serializer
            class="de.toem.impulse.extension.log.xml.XmlLogReader">
      </serializer>   

      <serializer
            class="de.toem.impulse.extension.log.json.JsonLogReader">
      </serializer>  
      
      <serializer
            class="de.toem.impulse.extension.log.yaml.YamlLogReader">
      </serializer>                 
  
</extension>

<extension
		point="de.toem.toolkits.general.templates">


   <reader.log.pattern name="FN Log" namePattern="simout\.txt">
        <properties len="1">
            <domainBase>ps</domainBase>
        </properties>
        <reader.log.pattern.option name="TransportCheckpoint" domainSource="2" action="1" s1="4" s2="0" s3="0" iconId="ri-file-transfer-fill" s4="0" s5="4" s6="3"  nameSeparator="\/" tags="fn,transport" tagSource="1" pattern="\s*([A-Za-z]+):\s*([0-9]+ \Ss) (TransportCheckPoint):([^:]+):\s*(\S+)\s*:\s*(.*)" m6="Message" m4="Module" m5="Thread" m2="Timestamp" namePrefix="_" m3="Checkpoint" name1Source="4" m1="Level" domainMode="2" nameMode="2">
            <example>Info:    3298 ns TransportCheckPoint:i_bpu_noc_arch/CPI_Switch_bpu_rd0_I: bwdOutTick               : STATE is IDLE&lt;br/&gt;Info:    3298 ns TransportCheckPoint:i_bpu_noc_arch/CP_Switch_bpu_rd0_I: bwdOutTick               : STATE is IDLE</example>
        </reader.log.pattern.option>
        <reader.log.pattern.option name="IT-Checkpoint" domainSource="2" action="1" s1="4" s2="0" s3="4" iconId="ri-sim-card-line" s4="0" s5="4" s6="3" nameSeparator="\/" tags="fn,it" tagSource="1" pattern="\s*([A-Za-z]+):\s*([0-9]+ \Ss) (InitiatorCheckPoint|TargetCheckPoint):([^:]+):\s*(\S+)\s*:\s*(.*)" m6="Message" m4="Module" m5="Thread" m2="Timestamp" namePrefix="_" m3="Checkpoint" name1Source="4" m1="Level" domainMode="2" nameMode="2">
            <example>Info:    3298 ns TransportCheckPoint:i_bpu_noc_arch/CPI_Switch_bpu_rd0_I: bwdOutTick               : STATE is IDLE&lt;br/&gt;Info:    3298 ns TransportCheckPoint:i_bpu_noc_arch/CP_Switch_bpu_rd0_I: bwdOutTick               : STATE is IDLE</example>
        </reader.log.pattern.option>
        <reader.log.pattern.option name="NttpSimple" domainSource="2" action="1" s1="4" s2="0" s3="4" iconId="ri-mastercard-line" s4="0" s5="4" s6="3"  nameSeparator="\/" tags="fn,simple" tagSource="1" pattern="\s*([A-Za-z]+):\s*([0-9]+ \Ss) (NttpSimple[A-Za-z]+):([^:]+):\s*(\S+)\s*:\s*(.*)" m6="Message" m4="Module" m5="Thread" m2="Timestamp" namePrefix="_" m3="Checkpoint" name1Source="4" m1="Level" domainMode="2" nameMode="2">
            <example>Info:    3298 ns TransportCheckPoint:i_bpu_noc_arch/CPI_Switch_bpu_rd0_I: bwdOutTick               : STATE is IDLE&lt;br/&gt;Info:     112 ns NttpSimpleSlavePort:NTTP(Not initialized): nb_transport_fw          :  phase END_PARTIAL_RESP delay 0 s</example>
        </reader.log.pattern.option>
        <reader.log.pattern.option name="Ignore"/>
        <serializer.configuration.default name="Metrix">
            <record.analysis name="Analysis" producer="de.toem.impulse.cellProducer.transactionMetrix">
                <record.source name="Source" reference=".."/>
            </record.analysis>
        </serializer.configuration.default>
    </reader.log.pattern>


    <reader.log.pattern name="Log4j [%p] %c %M - %m%n">
        <properties len="2">
            <domainBase>n</domainBase>
            <enabled>false</enabled>
        </properties>
        <reader.log.pattern.option name="Event" warningPattern="WARN" action="1" s1="4" s2="4" s3="4" tagSource="1" pattern="\[(\s*?\S*?\s*?)\] (\s*?\S*?\s*?) (\s*?\S*?\s*?) \- (.*)" description="Generated from [%p] %c %M - %m%n" errorPattern="ERROR" m4="Message" m2="Logger" m3="Method" name1Source="2" m1="Level" fatalPattern="FATAL" domainMode="6" nameMode="1">
            <example>[WARN] de.toem.impulse.test.secondary.Log3 log - get Sinus Wave -0.564085071066512&lt;br/&gt;[TRACE] de.toem.impulse.test.primary.Log1 log -  PCI: MMCONFIG at [mem 0xe0000000-0xefffffff&lt;br/&gt;[TRACE] de.toem.impulse.test.primary.Log1 log -  No Local Variables are initialized for Method [_GTF&lt;br/&gt;[INFO] de.toem.impulse.test.secondary.Log2 log -  ACPI: Local APIC address 0xfee00000</example>
        </reader.log.pattern.option>
    </reader.log.pattern>
    <reader.log.pattern name="Log4j [%p] %d{MM-dd-yyyy HH﹕mm﹕ss} %c %M - %m%n">
        <properties len="2">
            <relativeDomainValue>true</relativeDomainValue>
            <enabled>false</enabled>
        </properties>
        <reader.log.pattern.option name="Event" domainSource="2" warningPattern="WARN" dateFormat="MM-dd-yyyy HH:mm:ss" action="1" s1="4" s2="0" s3="4" s4="4" tagSource="1" pattern="\[(\s*?\S*?\s*?)\] (\S+\S+-\S+\S+-\S+\S+\S+\S+ \S+\S+:\S+\S+:\S+\S+) (\s*?\S*?\s*?) (\s*?\S*?\s*?) \- (.*)" description="Generated from [%p] %d{MM-dd-yyyy HH:mm:ss} %c %M - %m%n" errorPattern="ERROR" m4="Method" m5="Message" m2="Timestamp" m3="Logger" name1Source="3" m1="Level" fatalPattern="FATAL" domainMode="3" nameMode="1">
            <example>[WARN] 04-15-2020 10:44:13 de.toem.impulse.test.secondary.Log3 log - get Sinus Wave -0.564085071066512&lt;br/&gt;[TRACE] 04-15-2020 10:44:13 de.toem.impulse.test.primary.Log1 log -  No Local Variables are initialized for Method [_GTF&lt;br/&gt;[TRACE] 04-15-2020 10:44:13 de.toem.impulse.test.primary.Log1 log -  PCI: MMCONFIG at [mem 0xe0000000-0xefffffff&lt;br/&gt;[INFO] 04-15-2020 10:44:14 de.toem.impulse.test.secondary.Log2 log -  ACPI: Local APIC address 0xfee00000</example>
        </reader.log.pattern.option>
    </reader.log.pattern>
    <reader.log.pattern name="Log4j [%p] %r %c %M - %m%n">
        <properties len="1">
            <enabled>false</enabled>
        </properties>
        <reader.log.pattern.option name="Event" domainSource="2" warningPattern="WARN" action="1" s1="4" s2="0" s3="4" s4="4" domainUnit="ms" tagSource="1" pattern="\[(\s*?\S*?\s*?)\] (\s*?\S*?\s*?) (\s*?\S*?\s*?) (\s*?\S*?\s*?) \- (.*)" description="Generated from [%p] %r %c %M - %m%n" errorPattern="ERROR" m4="Method" m5="Message" m2="Timestamp" m3="Logger" name1Source="3" m1="Level" fatalPattern="FATAL" domainMode="2" nameMode="1">
            <example>[WARN] 1149 de.toem.impulse.test.secondary.Log3 log - get Sinus Wave -0.564085071066512&lt;br/&gt;[TRACE] 1148 de.toem.impulse.test.primary.Log1 log -  PCI: MMCONFIG at [mem 0xe0000000-0xefffffff&lt;br/&gt;[TRACE] 1148 de.toem.impulse.test.primary.Log1 log -  No Local Variables are initialized for Method [_GTF&lt;br/&gt;[INFO] 1361 de.toem.impulse.test.secondary.Log2 log -  ACPI: Local APIC address 0xfee00000&lt;br/&gt;[DEBUG] 1361 de.toem.impulse.test.primary.Log1 log -  Switched APIC routing to cluster x2apic.</example>
        </reader.log.pattern.option>
    </reader.log.pattern>
    <reader.log.pattern name="Log4j %d [%p] %c{1} – %m%n">
        <properties len="2">
            <relativeDomainValue>true</relativeDomainValue>
            <enabled>false</enabled>
        </properties>
        <reader.log.pattern.option name="Event" domainSource="1" warningPattern="WARN" action="1" s2="4" s3="4" tagSource="2" pattern="(\S+\S+\S+\S+-\S+\S+-\S+\S+ \S+\S+:\S+\S+:\S+\S+,\S+\S+\S+) \[(\s*?\S*?\s*?)\] (\s*?\S*?\s*?) – (.*)" description="Generated from %d [%p] %c{1} – %m%n" errorPattern="ERROR" m4="Message" m2="Level" m3="Logger" name1Source="3" m1="Timestamp" fatalPattern="FATAL" domainMode="3" nameMode="1">
            <example>2020-04-15 10:44:13,845 [WARN] Log3 – get Sinus Wave -0.564085071066512&lt;br/&gt;2020-04-15 10:44:13,844 [TRACE] Log1 –  No Local Variables are initialized for Method [_GTF&lt;br/&gt;2020-04-15 10:44:13,844 [TRACE] Log1 –  PCI: MMCONFIG at [mem 0xe0000000-0xefffffff&lt;br/&gt;2020-04-15 10:44:14,057 [INFO] Log2 –  ACPI: Local APIC address 0xfee00000</example>
        </reader.log.pattern.option>
    </reader.log.pattern>
    <reader.log.pattern name="Log4j %d{HH﹕mm﹕ss.SSS} [%t] %-5level %logger{36} - %msg%n">
        <properties len="2">
            <relativeDomainValue>true</relativeDomainValue>
            <enabled>false</enabled>
        </properties>
        <reader.log.pattern.option name="Log Pattern" domainSource="1" warningPattern="WARN" dateFormat="HH:mm:ss.SSS" action="1" s1="0" s2="4" s3="4" s4="4" tagSource="3" pattern="(\S+\S+:\S+\S+:\S+\S+\.\S+\S+\S+) \[(.*?)\] (\s*?\S*?\s*?) (\s*?\S*?\s*?) \- (.*)" description="Generated from %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" errorPattern="ERROR" m4="Logger" m5="Message" m2="Thread" m3="Level" name1Source="4" m1="Timestamp" fatalPattern="FATAL" domainMode="3" nameMode="1"/>
    </reader.log.pattern>
    <reader.log.pattern name="Log4J %r [%t] %p %c %x - %m%n">
        <properties len="2">
            <relativeDomainValue>true</relativeDomainValue>
            <enabled>false</enabled>
        </properties>
        <reader.log.pattern.option name="Log Pattern" domainSource="1" warningPattern="WARN" action="1" s1="0" s2="4" s3="4" s4="4" s5="4" domainUnit="ms" tagSource="3" pattern="([0-9\-\+]*?) \[(.*?)\] (\s*?\S*?\s*?) (\s*?\S*?\s*?) (.*?) \- (.*)" description="Generated from %r [%t] %p %c %x - %m%n" errorPattern="ERROR" m6="Message" m4="Logger" m5="NDC" m2="Thread" m3="Level" name1Source="4" m1="Timestamp" fatalPattern="FATAL" domainMode="2" nameMode="1"/>
    </reader.log.pattern>
    <reader.log.pattern name="syslog RFC3164">
        <properties len="2">
            <domainBase>dateTime</domainBase>
            <enabled>false</enabled>
        </properties>
        <reader.log.pattern.option name="Events" domainSource="2" dateFormat="MMM dd HH:mm:ss" action="1" s1="4" s2="0" pattern="&lt;?([0-9]*)&gt;?([A-Z][a-z][a-z]\s{1,2}\d{1,2}\s\d{2}[:]\d{2}[:]\d{2})\s([\w][\w\d\.@-]*)\s(.*)" m4="Message" m2="Timestamp" m3="Header" m1="Priority" domainMode="3">
            <example>&lt;135&gt;May 11 09:33:36 thomas  No Local Variables are initialized for Method [_GTF&lt;br/&gt;&lt;132&gt;May 11 09:33:36 thomas get Sinus Wave 0.9629702887498031&lt;br/&gt;Apr 24 08:55:18 thomas rsyslogd:  [origin software="rsyslogd" swVersion="8.1901.0" x-pid="1200" x-info="https://www.rsyslog.com"] rsyslogd was HUPed&lt;br/&gt;Apr 24 08:55:19 thomas NetworkManager[1173]: &lt;info&gt;  [1587711319.0627] Loaded device plugin: NMBluezManager (/usr/lib/x86_64-linux-gnu/NetworkManager/1.20.4/libnm-device-plugin-bluetooth.so)</example>
        </reader.log.pattern.option>
    </reader.log.pattern>
    <reader.log.pattern name="syslog RFC5424">
        <properties len="2">
            <domainBase>dateTime</domainBase>
            <enabled>false</enabled>
        </properties>
        <reader.log.pattern.option name="Events" domainSource="1" dateFormat="yyyy-MM-dd'T'HH:mm:ss.SSSX" action="1" s1="0" pattern="(?:(\d{4}[-]\d{2}[-]\d{2}[T]\d{2}[:]\d{2}[:]\d{2}(?:\.\d{1,6})?(?:[+-]\d{2}[:]\d{2}|Z)?)|-)\s(?:([\w][\w\d\.@-]*)|-)\s(.*)" m2="Header" m3="Message" m1="Timestamp" domainMode="3">
            <example>2020-05-11T09:33:36.097+02:00 thomas /home/thomas/Workspaces/impulse.test/de.toem.impulse.test/bin/log4j2.xml 5886 - -  No Local Variables are initialized for Method [_GTF&lt;br/&gt;2020-05-11T09:33:36.306+02:00 thomas /home/thomas/Workspaces/impulse.test/de.toem.impulse.test/bin/log4j2.xml 5886 - - get Sinus Wave 0.9629702887498031&lt;br/&gt;2020-05-11T09:33:36.309+02:00 thomas /home/thomas/Workspaces/impulse.test/de.toem.impulse.test/bin/log4j2.xml 5886 - -  rcu: &lt;br/&gt;2020-05-11T09:33:36.311+02:00 thomas /home/thomas/Workspaces/impulse.test/de.toem.impulse.test/bin/log4j2.xml 5886 - -  ACPI: Local APIC address 0xfee00000</example>
        </reader.log.pattern.option>
    </reader.log.pattern>
    <reader.log.xml name="Log4j XML 1.2">
    <properties len="2">
        <xmlFragment>true</xmlFragment>
        <relativeDomainValue>true</relativeDomainValue>
    </properties>
    <reader.log.xml.option name="Event" path="log4j:event" attributes="logger,timestamp,sequenceNumber,level,thread" action="1" m2="Logger" m3="Timestamp" m4="Sequence" m6="Thread" s2="4" s3="0" s4="1" s5="4" s6="4" domainMode="2" domainSource="3" domainUnit="ms" nameMode="1" name1Source="2" namePrefix="_" tagSource="5" fatalPattern="FATAL" errorPattern="ERROR" warningPattern="WARN"/>
    <reader.log.xml.option name="Message" path="log4j:event/log4j:message" action="2" m1="Message" warningPattern="warning|WARNING|Warning"/>
    <reader.log.xml.option name="Ignore other" path="*"/>
</reader.log.xml>
<reader.log.xml name="Java Logging">
    <properties len="1">
        <relativeDomainValue>true</relativeDomainValue>
    </properties>
    <reader.log.xml.option name="Record" path="record" action="1" warningPattern="warning|WARNING|Warning"/>
    <reader.log.xml.option name="Millies" path="record/millis" action="2" domainMode="2" domainSource="1" domainUnit="ms" warningPattern="warning|WARNING|Warning"/>
    <reader.log.xml.option name="Logger" path="record/logger" action="2" nameMode="1" name1Source="1" warningPattern="warning|WARNING|Warning"/>
    <reader.log.xml.option name="Sequence" path="record/sequence" action="2" m1="Sequence" s1="1" warningPattern="warning|WARNING|Warning"/>
    <reader.log.xml.option name="Level" path="record/level" action="2" tagSource="1" warningPattern="warning|WARNING|Warning"/>
    <reader.log.xml.option name="Class" path="record/class" action="2" m1="Class" warningPattern="warning|WARNING|Warning"/>
    <reader.log.xml.option name="Method" path="record/method" action="2" m1="Method" warningPattern="warning|WARNING|Warning"/>
    <reader.log.xml.option name="Thread" path="record/thread" action="2" m1="Thread" warningPattern="warning|WARNING|Warning"/>
    <reader.log.xml.option name="Message" path="record/message" action="2" m1="Message" warningPattern="warning|WARNING|Warning"/>
    <reader.log.xml.option name="Ignore other" path="*"/>
</reader.log.xml>
<reader.log.xml name="Log4j XML 2 full">
    <properties len="1">
        <relativeDomainValue>true</relativeDomainValue>
    </properties>
    <reader.log.xml.option name="Event" path="Events/Event" attributes="loggerName,level,threadPriority,threadId" action="1" m2="Logger" m4="Priority" m5="Thread" m6="Thread" s2="4" s3="0" s4="1" s5="4" s6="4" domainSource="3" domainUnit="ms" nameMode="1" name1Source="2" namePrefix="_" tagSource="3" fatalPattern="FATAL" errorPattern="ERROR" warningPattern="WARN"/>
    <reader.log.xml.option name="Message" path="Event/Message" action="2" m1="Message" warningPattern="warning|WARNING|Warning"/>
    <reader.log.xml.option name="Timestamp" path="Event/Instant" attributes="epochSecond,nanoOfSecond" action="2" domainMode="2" domainSource="2" domainUnit="s" domain2Mode="2" domain2Source="3" domain2Unit="ns" warningPattern="warning|WARNING|Warning"/>
    <reader.log.xml.option name="Ignore other" path="*"/>
</reader.log.xml>

<reader.log.json name="Log4J JSON">
    <properties len="1">
        <relativeDomainValue>true</relativeDomainValue>
    </properties>
    <reader.log.json.option name="Event" values="thread,level,loggerName,message,endOfBatch,loggerFqcn,threadId,threadPriority" action="1" m1="Thread" m2="Level" m4="Message" nameMode="1" name1Source="3" tagSource="2" fatalPattern="FATAL" errorPattern="ERROR" warningPattern="WARN"/>
    <reader.log.json.option name="Timestamp" path="instant" values="epochSecond,nanoOfSecond" action="2" domainMode="2" domainSource="1" domainUnit="s" domain2Mode="2" domain2Source="2" domain2Unit="ns" warningPattern="warning|WARNING|Warning"/>
    <reader.log.json.option name="Ignore other" path="*"/>
</reader.log.json>
<reader.log.json name="GELF">
    <properties len="1">
        <relativeDomainValue>true</relativeDomainValue>
    </properties>
    <reader.log.json.option name="Event" values="version,host,short_message,full_message,timestamp,level,facility,line,file,_thread,_logger" action="1" m2="Host" m3="Message" m4="Full Message" m5="Timestamp" m6="Level" m7="Facility" m8="Line" m9="File" m10="Thread" s2="4" s5="0" s6="4" s7="4" s9="4" s10="4" domainMode="1" domainSource="5" domainUnit="s" nameMode="1" name1Source="2" tagSource="6" fatalPattern="0|1|2" errorPattern="3" warningPattern="4"/>
    <reader.log.json.option name="Ignore other" path="*"/>
</reader.log.json>
<reader.log.yaml name="YAML Event Log Reader" namePattern="yaml.log" description="Parser for YAML event logs with timestamp, severity, source, and message fields">
    <properties len="1">
        <domainBase>dateTime</domainBase>
    </properties>
    <reader.log.yaml.option name="Event" domainSource="1" warningPattern="warning" dateFormat="yyyy-MM-dd'T'HH:mm:ss.SSSSSS'Z'" debugPattern="debug" action="1" s2="4" s3="4" s4="3" s5="3" infoPattern="info" fatalPattern="critical" domainMode="3" m1="Timestamp" m2="Level" m3="Logger" m4="EventID" m5="Message" nameMode="1" successPattern="alert" domainUnit="us" tagSource="2" values="timestamp,severity,source,event_id,message" description="YAML event entry" errorPattern="error" name1Source="3"/>
    <reader.log.yaml.option name="Metadata" path="metadata" action="2" s1="4" m1="Component" m2="Sensor" m3="Peer" m4="User" values="component,sensor,peer,user"/>
</reader.log.yaml>

<reader.log.yaml name="Log4j YAML Reader" namePattern="testi" description="YAML reader for log4j YAML format with timestamp, level, thread, message, and logger hierarchy">
    <properties len="2">
        <charSet>UTF-8</charSet>
        <relativeDomain>true</relativeDomain>
    </properties>
    <reader.log.yaml.option name="Event" tracePattern="TRACE" warningPattern="WARN" debugPattern="DEBUG" action="1" s1="4" s2="4" s3="3" s4="4" infoPattern="INFO" fatalPattern="FATAL" m1="Level" m2="Logger" m3="Message" m4="Thread" nameMode="1" tagSource="1" values="level,loggerName,message,thread" description="Log4j YAML event with level, logger, message, thread" errorPattern="ERROR" name1Source="2"/>
    <reader.log.yaml.option name="Timestamp" domainSource="1" path="instant" action="2" domain2Mode="2" domain2Unit="ns" domainMode="2" domain2Source="2" domainUnit="s" values="epochSecond,nanoOfSecond" description="Timestamp from instant object"/>
</reader.log.yaml>
</extension> 

<extension
	point="de.toem.toolkits.general.lmtools">
		  
	  <lmtool
	        class="de.toem.impulse.extension.log.tools.CreateLogReader">
	  </lmtool>			  
	  		  	  	  		
</extension>	
<extension
	point="de.toem.toolkits.general.doc">
	  <book
	  		id="de.toem.impulse.doc.log"
	        uri="help:///impulse-extension/log-reader/"
	        chapters="json-log-reader.md, pattern-log-reader.md, xml-log-reader.md, yaml-log-reader.md"
	        type="taggedMd"
	        path="/doc/">
	  </book>			  	  		  		
</extension>
</plugin>
